<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<header>
  <nav class="navbar navbar-expand navbar-light bg-light" style="background: linear-gradient(to right, rgb(97, 164, 177), rgb(105, 169, 158));">
    <div class="ml-auto">
      <a class="nav-item nav-link text-dark" href="{% url 'registro' %}"><strong class="fs-5">Registrarse</strong></a>
    </div>
  </nav>
      <style>
      body {
        background: radial-gradient(ellipse at center,rgb(148, 197, 193),rgb(155, 202, 194),rgb(188, 208, 204));
      }
    </style>
  </header>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-header text-center">
            <h3>Login</h3>
          </div>
          <div class="card-body">
            <form method="post" action="{% url 'validarLogin' %}">
              {% csrf_token %}
              <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
              </div>
              <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
