<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logout</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
      <style>
      body {
        background: radial-gradient(ellipse at center,rgb(148, 197, 193),rgb(155, 202, 194),rgb(188, 208, 204));
      }
    </style>
</head>
<body>
  <div class="container text-center mt-5">
    <h1>Has cerrado sesión correctamente</h1>
    <p>Gracias por usar nuestro sistema académico.</p>
    <a href="{% url 'loginUser' %}" class="btn btn-primary">Ingresar</a>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>